<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    <title>Login</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

  </head>

  <body>
  <div class="post-block">
    <h2>Login</h2>
    <form method="post">
      <div class="input-style">
        Username
        <input class="input-box" type="text" name="username" value="">
      </div>
      <div class="input-style">
        Password
        <input class="input-box" type="password" name="password" value="">
      </div>
      <div class="error">
        {{error}}
      </div>
      <input type="submit">
    </form>
  </div>
  </body>

</html>
{% endblock %}