<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    <title>Sign Up</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

  </head>

  <body>
    <div class="post-block">
    <h2>Signup</h2>
    <form method="post">
      <div>
        <div class="input-style">
          Username
          <input class="input-box" type="text" name="username" value="{{username}}">
        </div>
        <div class="error">
          {{error_username}}
        </div>
      </div>

      <div>
        <div class="input-style">
          Password
          <input class="input-box" type="password" name="password" value="">
        </div>
        <div class="error">
          {{error_password}}
        </div>
      </tr>

      <div>
        <div class="input-style">
          Verify Password
          <input class="input-box" type="password" name="verify" value="">
        </div>
        <div class="error">
          {{error_verify}}
        </div>
      </tr>

      <div>
        <div class="input-style">
          Email (optional)
          <input class="input-box" type="text" name="email" value="{{email}}">
        </div>
        <div class="error">
          {{error_email}}
        </div>
      </tr>

      <input type="submit">
    </form>
    </div>
  </body>

</html>
{% endblock %}